.g-content {
	overflow-y: auto;
}
.accountList label{
	width:92%;
	height:70px;
	display: block;
	margin:10px auto;
	border-radius: 10px;
	background: #fff;
	border:1px solid #e9e8e5;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items:center;
	-webkit-align-items:center;
	box-align:center;
	-moz-box-align:center;
	-webkit-box-align:center;
	padding:0 10px;
	overflow: hidden;
	position: relative;
}
.accountList label:before{
	content: "";
	width: 17px;
	height: 17px;
	position: absolute;
	box-shadow:0px 5px 20px #F5F5F5 inset;
	left:-8px;
	top:57px;
	border-radius:100px;
}
.accountList label:after{
	content: "";
	width: 17px;
	height: 17px;
	position: absolute;
	box-shadow:0px 5px 20px  #F5F5F5 inset;
	left:-8px;
	top:-5px;
	border-radius:100px;
}
.accountList label p{
	margin-bottom:0;
}
.accountList label .item-icon{
	display:inline-block;
	width:41px;
	height:41px;
	/*border:1px solid #c7c7c7;
	background: #d8d8d8;*/
	/*border-radius: 100%;*/
}
.accountList label .item-icon .logo {
	width: 100%;
}
.accountList label .item-title{
	flex:1;
	font-size:14px;
	color:#c1bfb8;
	padding-left:10px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.accountList label .num{
	width:20%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    text-align: center;
    color:#a6a6a6;
    padding-right:35px;
}
.accountList label .num .one{
	font-size:18px;
}
.accountList label .num .su{
	font-size:12px;
}
.accountList label input[type=radio]{
	display: inline-block;
    position: absolute;
	top:20px;
	left:90%;
}
.accountList label input[type='radio']:checked:before{
	content:'\e442';
	color:#5b91fe;
}

