.mui-icon {
    font-size: 28px;
    margin-top: 4px;
    vertical-align: sub;
    color: #b7b7b7;
}
.mui-title {
    font-size: 18px;
    color: #292929;
    letter-spacing: 0;
}
body {
	background-color: #f5f5f5;
	height: 100%;
}
.box {
	margin-top: 45px;
	background-color: #ffffff;
	border-bottom: 1px solid #ededed;
	padding: 0 15px;
}
.box p {
	font-size: 16px;
	color: #333333;
	padding:12px 0;
}
.box span {
	float:left;
	width: 27%;
	margin-right: 9%;
	border: 1px solid #9B9B9B;
	border-radius: 4px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	margin-bottom: 27px;
	font-size: 14px;
	color: #333333;
}
.box span.active {
	color: #087CFD;
	border-color: #087cfd;
}
.box span:nth-child(3){
	margin-right: 0;
}
.cancel {
	font-size: 12px;
	color: #9B9B9B;
	letter-spacing: 0;
	line-height: 60px;
	padding:0 12px;
	background-color: #ffffff;
	border-bottom:  1px solid #ededed;
}
.cancel button {
	border-radius: 40px;
	height: 40px;
	padding: 0 20px;
	margin-top: 10px;
	font-size: 16px;
	color: #333333;
}
.rules {
	padding:12px 14px;
	font-size: 12px;
	color: #9B9B9B;
	letter-spacing: 0;
}
.rules p {
	font-size: 12px;
	color: #9B9B9B;
}
