#home-box {
	background: #fff;
}
#toolbar {
	width:61px;
}
#toolbar span {
	width:100%;
	display: block;
}
#toolbar img {
	width:100%;
	height: auto;
	display: block;
}
#map {
	width: 100%;
    position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 2;
}
#parking-box {
	position: relative;
	margin: 5px;
	max-height: 106px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0px 5px 0 #909090;
	box-shadow: 0 0px 5px 0 #909090;
	overflow: hidden;
	border-radius:0 20px 20px 20px;
}
#parking-box .name {
	width: 100%;
	display: block;
	max-width: 100%;
}
#parking-box .address {
	background:initial;
	text-indent: 0;
}
#parking-box .price {
	margin-left: 0;
	font-size: 16px;
	color:#949494;
}
#parking-box .price span {
	font-size: 16px;
	color:#e67b85;
}
#parking-box .num {
	color:#959595;
}
