#mui-icon-left{
	color:#292929;
}
.order-nav{
	margin:5px 10px 10px 10px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}
.order-nav .order-text{
	background: #ffffff;
}
.order-nav .order-text .item-box{
	display: block;
	padding:18px 0 16px 13px;
}
#item-icon img{
	width:21px;
	height:21px;
}
.order-nav .order-text .item-title{
	font-size:17px;
	color:#3b3b3b;
	padding-left: 4px;
}
.order-nav .order-text .pay {
	margin-right: 10px;
}
.order-nav .order-time{
	padding:10px 0 0 14px;
	background: #f8f8f8;
	position: relative;
}
.order-nav .order-time .time-part {
	margin-top: -5px;
}
.order-nav .order-time .hash {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.order-nav .order-time .hash .ha_content {
	color:#007AFF;
	width: 57%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    padding-left: 8px;
}
.order-nav .order-time .out-time{
	margin-bottom: 0;
}
.order-time .time span{
	font-size:13px;
	color:#333333;
}
.order-time .amount {
	font-size: 32px;
	color: #292929;
	letter-spacing: 0;
	position: absolute;
	top:40px;
	right:10px;
	display: inline-block;
	font-weight:inherit;
} 
.order-state{
	height:58px;
	background: #fff;
}
.order-state p{
	display: inline-block;
}
.order-state .unexecuted{
	font-size:14px;
	color:#3883fd;
	line-height: 58px;
	padding-left:14px;
}
.order-state .unexecuted.executed{
	color:#ff5454;
}
.order-state .cancel{
	float: right;
	margin:7px 14px 0 0;
}
.order-state .finished{
	float: right;
	font-size:14px;
	color:#9b9b9b;
	padding-right:14px;
	line-height: 58px;
}
.order-state .cancel button{
	border:none;
	padding:10px 30px;
	font-size:15px;
	color:#333333;
	border:1px solid #d2d2d2;
	border-radius: 50px;
}
.order-state .cancel.unpay button{
	/*color:#fff;
	background: #3883fd;*/
	background-color: #fff;
	color: #087CFD;
	border-color: #087CFD;
}
.trans-box {
	margin-top: 50px;
}
.choose {
	position: fixed;
    top: 46px;
    width: 100%;
    height: 44px;
    z-index: 99;
    background-color: #fff;
}
.choose li {
	width: 33.3%;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
}
.choose li span {
	display: inline-block;
	line-height: 41px;
}
.choose li span.active {
	border-bottom: 3px solid #087CFD;
}
