.g-content {
	overflow-y: auto;
}
.orderDetail-wrap {
	background: #fff;
}
.mui-main{
	width:90%;
	margin:0 auto;
}
.mui-content .mui-details{
	padding:26px 0 30px 0;
}
.mui-content .mui-details .name .big{
	font-size:17px;
	color: #333333;
}
.mui-content .mui-details .name .price{
	float: right;
	font-size:13px;
	color:#087cfd;
}
.mui-details .address{
	font-size: 14px;
    color: #a5a5a5;
    margin-top: 5px;
}
.mui-details .address img{
	width: 10px;
    height: 14px;
    vertical-align: middle;
}
.mui-details .num{
	font-size: 13px;
}
.mui-details .num .occupied{
	font-size: 13px;
    color: #000000;
}
.car-num{
	height:49px;
	line-height:49px;
	border-top:1px dashed #e9e9e9;
	border-bottom:1px dashed #e9e9e9;
}
.car-num .plate-num{
	font-size:13px;
	color:#454545;
}
.park-time{
	padding:26px 0 23px 0;
}
.park-time .time .state-time{
	font-size:13px;
	color:#292929;
}
.park-time .time .date-time{
	font-size:10px;
	color:#666666;
}
.Parking-Rate{
	width:100%;
	height:50px;
	line-height:50px;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
.Parking-Rate .park-rate{
	float: right;
	padding-right:35px;
	font-size: 13px;
	color: #9b9b9b;
}
.Parking-Rate .park-rate span{
	color: #292929;
	font-size: 11px;
}
.state-btn{
	/*height:60px;*/
	padding:10px 0;
	display: flex;
	justify-content: flex-end;
}
.state-btn p.active{
	color:#087cfd;
	border-color:#087cfd;
}
.state-btn .cancel{
	display:inline-block;
	padding:11px 22px;
	border:1px solid #d2d2d2;
	border-radius:50px;
	margin-top:7px;
	font-size: 15px;
	line-height:20px;
    letter-spacing: 1px;
	color:#484848;
}
.state-btn .Nav{
	display:inline-block;
	padding:11px 36px;
	border:1px solid #087CFD;
	border-radius:50px;
	margin-top:7px;
	font-size: 15px;
	line-height:20px;
    letter-spacing: 4px;
	color:#087CFD;
	margin-left:14px;
}
.Remarks{
	width:92%;
	margin:10px auto;
}
.Remarks p{
	font-size: 12px;
	color: #9b9b9b;
	margin-bottom: 0;
	padding:5px 0;
}
.Remarks .mark-o{
	padding-top:23px;
}
.Remarks .photo{
	width:80%;
    margin:0 auto;
}
.Remarks .photo img{
	width:100%;
    height:auto;
}
