.g-content {
	overflow-y: auto;
}
.pay-wrap {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:62px;
}
.mui-content .mui-main{
	width:93%;
	margin:3% auto;
	background-color:#fff;
	border-radius: 5px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.08);
}
.mui-content .mui-details{
	padding:19px 14px 25px;
}
.mui-content .mui-details .name .big{
	font-size:17px;
	color: #333333;
}
.mui-content .mui-details .name .price{
	float: right;
	font-size:13px;
	color:#087cfd;
}
.mui-details .address{
	font-size: 14px;
    color: #a5a5a5;
    margin-top: 5px;
}
.mui-details .address img{
	width: 10px;
    height: 14px;
    vertical-align: middle;
}
.mui-details .num{
	font-size: 13px;
}
.mui-details .num .occupied{
	font-size: 13px;
    color: #000000;
}
.car-num{
	width:92%;
	height:49px;
	margin: 0 auto;
	line-height:49px;
	border-top:1px dashed #e9e9e9;
	border-bottom:1px dashed #e9e9e9;
}
.park-time{
	padding:26px 0 15px 12px;
}
.park-time .time .state-time{
	font-size:13px;
	color:#292929;
}
.park-time .time .date-time{
	font-size:10px;
	color:#666666;
}
.q-pay{
	width:93%;
	height:54px;
	line-height: 54px;
	text-align: center;
	background: linear-gradient(#4db4ff,#0a7efd);
	position: fixed;
	bottom: 8px;
    left:0;
    left:3%;
}
.q-pay p{
	font-size:15px;
	color:#fff;
	font-weight: bolder;
}
.q-pay p span{
	font-size:16px;
}
.mui-input-row {
	width:93%;
	margin:10px auto;
	background-color:#fff !important;
}
.mui-input-row .radio_inline{
	height: 53px;
    display: block;
    line-height: 53px;
    position: relative;
    padding-left:30px;
    color: #323232;
    font-size: 13px;
}
.mui-input-row .radio_inline .item-icon{
	position: absolute;
    left: 13px;
    top: 15px;
    height: 20px;
}
.mui-input-row .radio_inline .item-icon img{
	height: 100%;
    width: auto;
    vertical-align: top;
}
.mui-input-row .radio_inline label{
	line-height:30px;
}
.mui-input-row .radio_inline:after{
	content: '';
    position: absolute;
    left:12px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #e8e8e8;
}
.mui-input-row .radio_inline:last-child:after {
	content: initial;
}
.change .radio_inline {
	display: flex;
}
.change .radio_inline input[type=radio]{
	position: absolute;
	top:12px;
	right:13px;
    width:25px;             
    height:25px;
}
.change .mui-radio input[type='radio']:checked:before{
	content:'\e442';
	color:#309dfe;
}
#payView {
	position: absolute;
	width:100%;
	height: 100%;
	z-index: 3;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
#prompt-box {
	position: fixed;
	width:100%;
	height:100%;
	z-index:3;
	top:46px;
	right:0;
	left:0;
	bottom:0;
	display: none;
}
#prompt-box .mask {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index: 1;
	background: rgba(0,0,0,0.3);
	-webkit-background: rgba(0,0,0,0.3);
	-moz-background: rgba(0,0,0,0.3);
}
#prompt-box .prompt {
	position: absolute;
	top:25%;
	left:4%;
	right:4%;
	background: #fff;
	z-index: 2;
	border-radius: 5px;
}
#prompt-box .prompt .msg {
	min-height:60px;
	line-height:60px;
	text-align: center;
	color:#333;
}
#prompt-box .prompt .btns a{
	display: block;
	line-height: 30px;
	border-top: 1px #d2d3d5 solid;
}
#prompt-box .prompt .btns a.btn-success {
	color: #f00;
}
#prompt-box .prompt .btns a.btn-fail {
	color: #828385;
}