.header-bar {
	height: 46px;
	-webkit-box-shadow:initial;
	box-shadow:initial;
	background: #fff;
}
#topbar {
	position: absolute;
	left:0;
	right:0;
	top:0;
	z-index: 3;
	height: 102px;
}
#topbar #search-box {
	width: 86%;
	margin:10px auto;
}
#search-box .mui-icon-search::before{
	content: initial;
}
#search-box .mui-search::before {
	font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: auto;
    left: 20px;
    display: block;
    margin-right: 0;
    margin-top: -9px;
    margin-right: 0;
    content: '\e466';
    color:#9497B3;
}
#search-box .mui-search input[type=search] {
	padding: 0;
	height: 40px;
	border-radius: 40px;
	background: rgba(255,255,255,0.90);
	margin:0;
	padding-left: 45px;
}

#parking-list {
	position: absolute;
	left:0;
	right:0;
	top:102px;
	bottom:0;
	width:100%;
	background: #FFFFFF;
	overflow: auto;
}
#parking-list .parking {
	padding-left: 0;
	margin-left: 12px;
	border-bottom:1px #e7e7e7 solid;
}
.filter {
	height: 42px;
	background: #fff;
	border-bottom: 1px #e8e8e8 solid;
	font-size: 0;
}
.filter span {
	width:50%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #666666;
}
.filter i {
  display: inline-block;
  vertical-align: middle;
  height: 0px;
  width: 0px;
  margin-left: 6px;
  border-top: 7.5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#tab-box {
	position: absolute;
	left: 0;
    right: 0;
    top: 102px;
    z-index: 3;
    height:0;
    width:100%;
    overflow: hidden;
}
#tab-box.show-box {
	height: auto;
}
#tab-box .sort1 ul:after,#tab-selectList .sort1 ul:before {
	content: initial;
}
#tab-box .tab-sort-group {
	opacity:0;
	background:#fff;
	position:relative;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transition:.3s all;
	-webkit-transition:.3s all;
	-moz-transition:.3s all;
	-ms-transition:.3s all;
}
#tab-box .tab-sort-group.show {
	opacity:1;
	transform:translateY(0);
	webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
}
#tab-box .tab-sort-group .sort1 button {
	width: 96%;
	margin:10px 2%;
}
.parkingList-mask {
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index: 2;
	background:rgba(0,0,0,0.3);
	display: none;
}
#parking-list .parking-l .top{
	position: relative;
	height: 30px;
}
#parking-list .parking-l .price {
	position: absolute;
	right:0;
	top:0;
	line-height: 30px;
}
#parking-list .bottom {
	width:100%;
	font-size: 0;
	position: relative;
	height: 30px;
}
#parking-list .bottom .num {
	width:48%;
	font-size: 14px;
	max-width: 48%;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
}
#parking-list .bottom .credit_score {
	position: absolute;
	right:0;
	top:0;
	line-height: 30px;
	font-size: 14px;
	color:#EC971F;
	margin-left: 13px;
}
