.header-bar{
	background: #fff;
}
html,body{
	background: #f5f5f5;
}
.mui-content{
	background: #f5f5f5;
	font-size:0;
}
.ba_color{
	background: #fff;
}
.rent-park,.orderlist{
	width:92%;
	margin:0 auto;
}
.rent-park h3{
	font-size:16px;
	color:#333333;
	padding:23px 0;
}
.rent-park p{
	margin-bottom:0;
	font-size:13px;
	color:#333;
	padding:4px 0;
}
.rent-park p span{
	font-size:10px;
	color:#666666;
	padding-left:10px;
}
.rent-park p:nth-child(4){
	padding-bottom:23px;
	border-bottom:1px dashed #e9e9e9;
}
.rent-park .parking_fee{
	padding:20px 0;
	font-size:14px;
	color:#333;
}
.orderlist h3{
	font-size:13px;
	color:#333333;
	padding:17px 0;
}
.orderlist .order-num{
	background:#f8f8f8;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
	border-radius:10px;
	overflow: hidden;
	margin-bottom:15px;
}
.orderlist .order-num p{
	margin-bottom:0;
	font-size:13px;
	color:#292929;
    padding:6px 13px;
}
.orderlist .order-num .order_c{
    background: #fff;
	font-size:17px;
	color:#333;
	padding:13px 13px;
	
}
