<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的账户</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/Account.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" ></span></a>
	    <h1 class="mui-title">我的账户</h1>
	</header>
	<div class="mui-content g-content">
		<div class="accountList">
			<a href="" class="item-box mui-radio">
				<p class="item-icon"><span class="logo"></span></p>
				<p class="item-title">我的钱包</p>
				<p class="num"><span class="one">1</span><span class="su">数量</span></p>
				<input name="payType" class=" pay-type" type="radio">
		    </a>
		   <a href="" class="item-box mui-radio">
				<p class="item-icon"><span class="logo"></span></p>
				<p class="item-title">我的钱包</p>
				<p class="num"><span class="one">1</span><span class="su">数量</span></p>
				<input name="payType" class=" pay-type" type="radio">
		    </a>
		  <a href="" class="item-box mui-radio">
				<p class="item-icon"><span class="logo"></span></p>
				<p class="item-title">我的钱包</p>
				<p class="num"><span class="one">1</span><span class="su">数量</span></p>
				<input name="payType" class=" pay-type" type="radio">
		    </a>
		</div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>