<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>申请提现</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/Apply_forword.css"/>
	    <script src="../js/vue.min.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
		    <a id="mui-icon-left"class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title title">申请提现</h1>
		</header>
		<div class="mui-content">
			<div class="content-box">
				<div class="forword">
					<ul>
						<li class="expect">预计到账金额</li>
						<li class="money">
							<span>￥</span><input type="text"  value="">
						</li>
						<li class="wei">
						    <p class="binding">未绑定微信</p>
						  <!--  <p class="binding binded">已绑定微信<span>XXXX</span></p>-->
						    <p class="click">
						    	<span>点击绑定</span><img src="../img/weixin.png">
						    	<!--<span>点击更换</span>-->
						    </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="button">
			<p>提现</p>
		</div>
	    <script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/Apply_forword.js"></script>
	
	</body>
</html>
