<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>数字资产交易</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../css/Asset_deal.css" />
		<script src="../js/vue.min.js"></script>
	</head>

	<body>
		<div class="park-header" id="park-header">
			<div class="header-icon">
				<a class="icon mui-action-back"><span class="mui-icon mui-icon-arrowleft"></span></a>
				<span class="zi">数字资产交易</span>
				<a id="openList" class="mui-pull-right">我的挂单</a>
			</div>
			<div class="Total">
				<h3></h3>
				<p>我的数字资产总数</p>
			</div>
		</div>
		<div class="box-main" id="box-main">
			<p id="assets"><img src="../img/Assets.png" class="assets">我的资产</p>
			<div class="Voucher" v-cloak>
				<div class="Voucher-list" v-for="(item,index) in items">
					<a class="item-box">
						<p class="item-icon">
							<span class="logo" v-if="item.cardtype==1"><img src="../img/posi.png" alt="" /></span>
							<span class="logo logo2" v-else><img src="../img/card.png" alt="" /></span>
						</p>
						<div class="item-title">
							<h3>{{item.cardname}}</h3>
							<p v-html="item.time"></p>
						</div>
						<p class="num"><span class="one">{{item.cardnumber}}</span><span class="su">数量</span></p>
					</a>
				</div>
			</div>
		</div>
		<div class="wallet">
			<img src="../img/wallet.png">
		</div>
		<div class="footer" id="footer">
			<p>交换</p>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/Asset_deal.js"></script>
		<script type="text/javascript">
			$(function() {
				//滚动条事件
				$('.Voucher').scroll(function() {
					//获取滚动条的滑动距离
					var scroH = $(this).scrollTop();
					if(scroH>0){
						$('#box-main').css('top','46px');
					}else if(scroH==0){
						$('#box-main').css('top','165px');
					};
				});
			})
		</script>

	</body>

</html>