<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>余额明细</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/balance.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
		    <a id="mui-icon-left"class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title title">余额明细</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view balance-list">
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="price price1 mui-pull-right">+200<i>元</i></div>
						<div class="mui-media-body">
							<h4>001号车位</h4>
							<p class="mui-ellipsis">2018.04.16&nbsp;&nbsp;&nbsp;12:30</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="price price1 mui-pull-right">+200<i>元</i></div>
						<div class="mui-media-body">
							<h4>001号车位</h4>
							<p class="mui-ellipsis">2018.04.16&nbsp;&nbsp;&nbsp;12:30</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="price price1 mui-pull-right">+200<i>元</i></div>
						<div class="mui-media-body">
							<h4>001号车位</h4>
							<p class="mui-ellipsis">2018.04.16&nbsp;&nbsp;&nbsp;12:30</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="price price2 mui-pull-right">-200<i>元</i></div>
						<div class="mui-media-body">
							<h4>001号车位</h4>
							<p class="mui-ellipsis">2018.04.16&nbsp;&nbsp;&nbsp;12:30</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	    <script src="../js/mui.min.js"></script>
	</body>
</html>
