<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>提现成功</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/Bring_success.css"/>
	    <script src="../js/vue.min.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
		    <a id="mui-icon-left"class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title title">提现成功</h1>
		</header>
		<div class="mui-content g-content" v-cloak>
			<div class="content-box">
				<p class="photo"><img src="../img/finish.png"></p>
			    <p class="ver">提现<span class="num"></span>元成功，请在微信内查收</p>
			</div>	
			<div class="back" id="backwallt">
				返回我的钱包
			</div>
	   </div>
	    <script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			var ws = null,wo=null;
			mui.plusReady(function(){
				ws = plus.webview.currentWebview();
				wo = ws.opener();
				mui('.num')[0].innerText = ws.price;
				mui('.g-content')[0].removeAttribute('v-cloak');
			});
			mui('.g-content').on('tap','#backwallt',function(){
				wo.close();
				ws.close();
			});
		</script>
	</body>
</html>
