<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>取消订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" href="../css/cancelOrder.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<h1 class="mui-title">取消订单</h1>
		</header>
		<div class="mui-content g-content">
			<div class="box">
				<p>取消原因</p>
				<div class="mui-clearfix">
					<span>订错车场</span>
					<span>订错时段</span>
					<span>临时有事</span>
					<span>其 它</span>
				</div>
			</div>
			<div class="cancel">
				<span>注：取消原因可不选</span>
				<button type="submit" class="submit mui-pull-right cancel-btn">取消订单</button>
			</div>
			<div class="rules">
				<p>退费规则：</p>
				确定需要退费后，请您取消订单，订金会在一到三个工作日返还到您的账户中，欢迎下次使用！
			</div>
		</div>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/cancelOrder.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>