<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页-账本</title>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
		html,body{
			background: initial;
		}
	</style>
</head>
<body>
	<div id="account">
		<div class="current account-info">
			<span class="account-name">当前账本HASH</span>
			<span class="account-address">SDFADADADASDADASDAEQEQEAZSDASDADADADASSQW</span>
			<span class="account-time">2018/07/27 10:22</span>
		</div>
		<div class="parent account-info">
			<span class="account-name">父账本HASH</span>
			<span class="account-address">SDFADADADASDADASDAEQEQEAZSDASDADADADASSQW</span>
			<span class="account-time">2018/07/27 10:22</span>
		</div>
	</div>
</body>
</html>