<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页-搜索框</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<style>
		html,body{
			background: initial;
		}
		#search-box {
			width:100%;
			height: 40px;
			border-radius: 40px;
			position: relative;
			background: #fff;
		}
		#search-box span {
			position: absolute;
			font-size: 22px;
			color:#9497b3;
			left:20px;
			top:9px;
			width:22px;
			height:22px;
			display: block;
		}
	</style>
	<div id="search-box">
		<span class="mui-icon mui-icon-search"></span>
		<!--<div class="mui-input-row mui-search mui-active">
		    <input type="search" class="mui-input-clear" placeholder="">
		</div>-->
	</div>
    <script src="../js/mui.min.js"></script>
    <script type="text/javascript">
    	document.getElementById('search-box').addEventListener('tap',function(){
    		plus.webview.currentWebview().opener().evalJS('home.openSearch()');
    	});
    </script>
</body>
</html>