<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
	    <h1 class="mui-title" id="province-box"><span class="province-text">广州</span><i class="arrow"></i></h1>
	    <a class="mui-pull-right icon-menu" id="openMenu"></a>
	</header>
	<div class="mui-content g-content">
		<div id="map"></div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>