<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页-搜索框</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
	<div id="parking-box">
		<div class="parking">
			<div class="parking-l">
				<div class="top">
					<span class="name">万科停车场</span>
					<span class="price"><span>5元</span>/小时</span>
				</div>
				<p class="address">广东省广州市黄埔区石化路255号</p>
				<div class="num">车位:<span>200</span>/400</div>
			</div>
			<div class="parking-r">
				<div class="parking-img"></div>
				<p>1.5km</p>
			</div>
		</div>
	</div>
    <script src="../js/mui.min.js"></script>
</body>
</html>