<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/icons-extra.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/my.css"/>
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="mui-content">
		<div class="park-header" id="park-header">
		    <div class="mipark-top">
		      	   <div class="Headportrait"></div>
		      	   <div class="information" v-show="islogin" :data-id="id">
		      	   	 <span class="person_W">{{userName}}</span>
		      	     <span class="ewallet">信用值:{{num}}</span>
		      	   </div>
		      	   <div class="no-login" v-show="!islogin">
		      	   	 <a id="openLogin">未登录</a>
		      	   </div>
		    </div>
		</div>
		<div class="park-nav">
			<a href="wallet.html" class="item-box" :data-wallet="wallet">
				<span class="item-icon"><img src="../img/wdqb.png"></span>
				<span class="item-title">我的钱包</span>
			</a>
			<a href="orderList.html" class="item-box">
				<span class="item-icon"><img src="../img/dd.png"></span>
				<span class="item-title">我的订单</span>
			</a>
			<a  href="#" class="item-box">
				<span class="item-icon"><img src="../img/cw.png"></span>
				<span class="item-title">我的车位</span>
			</a>
			<a id="line-distance" href="my_vehicle.html" class="item-box">
				<span class="item-icon"><img src="../img/cl.png"></span>
				<span class="item-title">车辆管理</span>
			</a>
			<a href="message.html" class="item-box">
				<span class="item-icon">
					<img src="../img/xx.png">
					<span class="tip-num" v-show="t_num!=0&&t_num">{{t_num}}</span>
				</span>
				<span class="item-title">我的消息</span>
			</a>
			<a id="line-distance" href="#" class="item-box">
				<span class="item-icon"><img src="../img/zn.png"></span>
				<span class="item-title">用户指南</span>
			</a>
			<a id="distance" href="setting.html" class="item-box">
				<span class="item-icon"><img src="../img/xz.png"></span>
				<span class="item-title">设置</span>
			</a>
		</div>
	</div>
	<script src="../js/immersed.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:'.mui-content',
			data:{
				islogin:false,
				userName:'用户名',
				num:'0',
				id:'',
				wallet:'',
				token:'',
				t_num:'0'
			},
			methods:{
				getUserInfo:function(){
					var _this = this;
					this.token = plus.storage.getItem('token');
					mui.ajax(AJAX_PATH+'/user/info?token='+this.token,{
						type:'get',
						dataType:'json',
						success:function(res){
							if(res.code == 200){
								_this.num = res.data.dcc_score;
								_this.id = res.data.id;
								_this.wallet = res.data.wallet;
							}else if(res.code==509){
								plus.storage.setItem('token',res.data.newToken);
								_this.getUserInfo();
							}
						},
						complete:function(xhr, status){
							console.log('阻止触发全局的complete事件')
						}
					});
				},
				getUnreadMessage:function(){
					var that = this;
					this.token = plus.storage.getItem('token');
					mui.ajax(AJAX_PATH+'/msg/list?token='+this.token,{
						type:'get',
						dataType:'json',
						success:function(res){
							if(res.code==200){
								//获取未读条数
								that.t_num = res.data[0].extra.un_read;
							}else if(res.code==509){
								plus.storage.setItem('token',res.data.newToken);
								that.getUnreadMessage();
							}
						}
					});
				},
				readData:function(){
					var userName = plus.storage.getItem('phone_number');
					if(userName && userName!=""){
						userName.replace(userName.substring(3, 8),'*****');
						this.userName = userName;
						this.islogin = true;
						this.getUserInfo();
						this.getUnreadMessage();
					}else{
						this.islogin = false;
					};
				}
			}
		});
		window.addEventListener('readData',function(){
			vm.readData();
		},false);
		document.addEventListener('plusready',function(){
			vm.readData();
		},false);
		
	</script>
    <script src="../js/my.js"></script>    
</body>
</html>