<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/app.css" />
		<link rel="stylesheet" href="../css/my_account.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header-bar" style="border-bottom:2px solid #f5f5f5">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
			<h1 class="mui-title">我的账户</h1>
		</header>
		<div class="mui-content content">
			<div class="coupon-box">
				<div class="coupon">
					<span class="img"></span>
					<span class="name">经济总部停车券</span>
				</div>
				<div class="right">
					<div class="r-left">
						<div class="score">1</div>
						<div class="unit">数量</div>
					</div>
					<span class="r-right">
						<div class="unchecked"></div>
					</span>
				</div>
			</div>
			<div class="coupon-box">
				<div class="coupon">
					<span class="img"></span>
					<span class="name">经济总部停车券</span>
				</div>
				<div class="right">
					<div class="r-left">
						<div class="score">1</div>
						<div class="unit">数量</div>
					</div>
					<span class="r-right">
						<div class="unchecked"></div>
					</span>
				</div>
			</div>
			<div class="coupon-box">
				<div class="coupon">
					<span class="img"></span>
					<span class="name">经济总部停车券</span>
				</div>
				<div class="right">
					<div class="r-left">
						<div class="score">1</div>
						<div class="unit">数量</div>
					</div>
					<span class="r-right">
						<div class="unchecked"></div>
					</span>
				</div>
			</div>
			<div class="coupon-box">
				<div class="coupon">
					<span class="img"></span>
					<span class="name">经济总部停车券</span>
				</div>
				<div class="right">
					<div class="r-left">
						<div class="score">1</div>
						<div class="unit">数量</div>
					</div>
					<span class="r-right">
						<div class="unchecked"></div>
					</span>
				</div>
			</div>
		</div>
		</div>

		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.ready(function(){
				$(".r-right").click(function(){
					//获取点击元素的父元素
					var that = $(this).parents(".coupon-box");
					//获取全部coupon-box
					if(that.hasClass('active')){
						that.removeClass("active");
					}else{
						$(".coupon-box").removeClass("active");
						that.addClass('active');
					}
				})
			})
		</script>
	</body>

</html>