<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的车辆</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/my_vehicle.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
	    <h1 class="mui-title">我的车辆</h1>
	</header>
	<div class="mui-content g-content">
		<div class="addvehicle"><i>+</i>添加车辆</div>
		<div class="vehicle-title">最多可添加5个车牌</div>
		<div class="vehicle-list">
			<div class="vehicle-box">
				<div class="vehicle-tbar">
					<span class="mui-icon mui-icon-trash mui-pull-right"></span>
					<div class="mui-input-row mui-checkbox mui-left">
					  <label>默认车位</label>
					  <input name="checkbox1" value="" type="checkbox">
					</div>
				</div>
				<div class="vehicle-b">京 A10086</div>
			</div>
			<div class="vehicle-box">
				<div class="vehicle-tbar">
					<span class="mui-icon mui-icon-trash mui-pull-right"></span>
					<div class="mui-input-row mui-checkbox mui-left">
					  <label>默认车位</label>
					  <input name="checkbox1" value="" type="checkbox">
					</div>
				</div>
				<div class="vehicle-b">京 A10086</div>
			</div>
			<div class="vehicle-box">
				<div class="vehicle-tbar">
					<span class="mui-icon mui-icon-trash mui-pull-right"></span>
					<div class="mui-input-row mui-checkbox mui-left">
					  <label>默认车位</label>
					  <input name="checkbox1" value="" type="checkbox">
					</div>
				</div>
				<div class="vehicle-b">京 A10086</div>
			</div>
		</div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/my_vehicle.js" type="text/javascript" charset="utf-8"></script>
    
</body>
</html>