<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/newParkSpace.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<h1 class="mui-title">新增车位</h1>
		</header>
		<div class="content">
		    <p class="annotation">注：您所填写信息仅用于验证，惠停车不会透露给第三方。</p>
		</div>
		<div class="withdraw mui-clearfix withborder">
			车位所在区域
			<span class="mui-icon mui-icon-arrowright mui-pull-right arrow"></span>
		</div>
		<textarea name="" rows="3" cols="" placeholder="请输入地址" class="withborder"></textarea>
		<input type="number"  placeholder="联系电话" />
		<div class="withborder character">
			<label>车位性质</label>
			
		</div>


		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>