<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增车位</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/newParkSpace.css" />
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
		<h1 class="mui-title">新增车位</h1>
	</header>
	<div class="mui-content g-content">
		<p class="annotation">注：您所填写信息仅用于验证，惠停车不会透露给第三方。</p>
		<div class="withdraw mui-clearfix withborder" id="openChooseParkSpace">
			<label class="parkName">选择车场</label>
			<span class="mui-icon mui-icon-arrowright mui-pull-right arrow"></span>
		</div>
		<p class="annotation">请输入车位所属信息</p>
		<div class="form-item parkInfo">
			<div class="input-item">
		    	<label class="item-label">楼栋位置</label>
		    	<div class="item-content">
		    		<input type="text" name="p_s_num" pattern="[A-Ba-z0-9]" placeholder="例如:A1、E2" />
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">是否为地下</label>
		    	<div class="item-content">
		    		<div class="mui-switch mui-switch-blue mui-switch-mini" id="floorSwitch">
					  <div class="mui-switch-handle"></div>
					</div>
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">楼层位置</label>
		    	<div class="item-content">
		    		<span class="switch-zf">地上</span><span class="min-inputbox"><input type="text" name="p_s_f" class="min-input" pattern="[0-9]" maxlength="1" value="1" /></span><span>层</span>
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">楼区位置</label>
		    	<div class="item-content">
		    		<input type="text" name="p_s_area" placeholder="例如:A、E、G" pattern="[A-Ba-z0-9]"  />
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">车位编号</label>
		    	<div class="item-content">
		    		<input type="text" name="p_s_sn" placeholder="例如:010" pattern="[0-9]" />
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">车位长度</label>
		    	<div class="item-content">
		    		<span class="min-inputbox"><input type="text" pattern="[0-9.]" name="p_s_length" class="min-input" /></span><span>米</span>
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">车位宽度</label>
		    	<div class="item-content">
		    		<span class="min-inputbox"><input type="text" pattern="[0-9.]" name="p_s_width" class="min-input" /></span><span>米</span>
		    	</div>
		    </div>
		    <div class="input-item">
		    	<label class="item-label">发布有效期</label>
		    	<div class="item-content">
		    		<input type="text" name="valid_time" placeholder="请设置发布有效期" id="valid_time" readonly="readonly" />
		    	</div>
		    </div>
		</div>
		<div class="withborder character">
			<label class="mui-pull-left character">权属类型</label>
			<div class="check mui-pull-left">
		        <label>
		            <input type="radio" id="owner" name="nature" value="1" checked="checked">
		            <div class="user-defined">
		                <span class="circle"></span>
		            </div>
		            <span>个人租赁</span>
		        </label>
		        <label>
		            <input type="radio" id="rent" name="nature" value="2" />
		            <div class="user-defined">
		                <span class="circle"></span>
		            </div>
		            <span>个人权属</span>
		        </label>
		    </div>
		</div>
		<div class="picture withborder">
			<label>证明材料</label>
			<div class="addPic mui-clearfix">
				<div class="mui-pull-left add">
					<div id="pImg" class="upload-box">
						<div class="upload-fileInfo">
							<div class="img-box"></div>
							<span class="mui-icon mui-icon-closeempty"></span>
						</div>
						<div class="file-box upfileBtn" id="upPBtn"></div>
					</div>
					<span class="tip">添加车位照片</span>
				</div>
				<div class="mui-pull-left add">
					<div id="cardImg" class="upload-box">
						<div class="file-box upfileBtn" id="upCardBtn"></div>
					</div>
					<span class="tip">添加身份证正反面照片</span>
				</div>
				<div class="mui-pull-left add">
					<div id="fileImg" class="upload-box">
						<div class="file-box upfileBtn" id="upFileBtn"></div>
					</div>
					<span class="tip">添加车位产权证明</span>
				</div>
			</div>
		</div>
		<p class="ask">提交信息代表您已同意 <span>《车位共享说明》</span> </p>
		<button type="submit" class="submit" id="spaceAdd">提 交</button>
	</div>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery-1.11.2.min.js"></script>
	<script src="../js/webuploader/webuploader.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/newParkSpace.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>