<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>订单支付</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/order pay.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
	    <h1 class="mui-title">订单支付</h1>
	</header>
	<div class="mui-content">
		<div class="mui-main">
			<div class="mui-details">
				<div class="name">
		    		<span class='big'>万科停车场</span>
		    	</div>
		    	<p class="address"><img src="../img/Page1.png"/> 广东省广州市黄埔区石化路225号</p>
		    	<p class="num">
		    		车位： <span class='occupied'>不固定</span>
		    	</p>
			</div>
			<div class="car-num">
				<p class="plate-num">车牌号：<span style="color:#666666">粤G88888</span></p>
			</div>
			<div class="park-time">
				<p class="time lower-time">
					<span class="state-time">入场时间:</span>
					<span class="date-time">2018.5.20&nbsp;16:45</span>
				</p>
				<p class="time in-time">
					<span class="state-time">离场时间:</span>
					<span class="date-time"s>2018.5.20&nbsp;16:45</span>
				</p>
			</div>
	   </div>
	    <div class="mui-input-row change">
	    	  <div style="width:97%">
                <div class="radio_inline mui-radio">
                	<span class="item-icon"><img src="../img/yu.png"></span>
                	<label for="radio_yu">余额支付</label>
                    <input name="radio1" type="radio" id="radio_man" checked value="1">
                </div>   
                <div class="radio_inline mui-radio">
                    <span class="item-icon"><img src="../img/wei.png"></span>
                    <label for="radio_wei">微信支付</label> 
                    <input name="radio1" type="radio" id="radio_woman" value="0">
                </div>  
                <div class="radio_inline mui-radio">
                    <span class="item-icon"><img src="../img/zhi.png"></span>
                    <label for="radio_zhi">支付宝支付</label> 
                    <input name="radio1" type="radio" id="radio_woman" value="0">  
                </div>  
                </div>
          </div>
	   <div class="q-pay">
	   	    <p>立即支付￥<span>12</span>元</p>
	   </div>
	</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>