<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我的订单</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/orderList.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
		    <a id="mui-icon-left"class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title title">我的订单</h1>
		</header>
		<div class='choose mui-clearfix'>
			<ul>
				<li><span data-done="" class="active">全部</span></li>
				<li><span data-done="running">未完成</span></li>
				<li><span data-done="success">已完成</span></li>
			</ul>
		</div>
		<div class="mui-content trans-box" id="trans-box">
			<!--<div class="order-nav">
				<div class="order-text">
					<a href="#" class="item-box">
						<span id="item-icon"><img src="../img/tcicon.png"></span>
						<span class="item-title">万科停车场</span>
						<span class="mui-pull-right pay">待支付</span>
				   </a>
				</div>
				<div class="order-time">
					<p class="time place-time">
						<span>下单时间:</span>
						<span>2018.5.20</span>
						<span>16:45</span>
					</p>
					<p class="amount">
						￥12
					</p>
					<p class="time out-time">
						<span>出入场时间:</span>
						<span>2018.5.20</span>
						<span>16:45-17:45</span>
					</p>
				</div>
				<div class="order-state">
					<p class="finished" style="display: none;">已完成</p>
				    <p class="cancel unpay" style=""><button>去支付</button></p>
				    <p class="cancel unpay" id="navigate" style="display: none;"><button>导航</button></p>
				    <p class="cancel"><button>取消订单</button></p>
				</div>
			</div>-->

		</div>
	    <script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script>
//			var token = plus.storage.getItem('token');
			var token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgzLCJpc3MiOiJodHRwOi8vYmouZWNvc3lzbmV0LmNvbTo3MDk4L2FwaS9hdXRoL2xvZ2luIiwiaWF0IjoxNTMwNTg0MjA2LCJleHAiOjE1MzA2MjAyMDYsIm5iZiI6MTUzMDU4NDIwNiwianRpIjoiUG05eU1QQk5ES0doT0YyNCJ9.67qcswX2Q5Um4ZrhAr-yVPIGjdztRIyyHhy7I-1PCNE';
			(function($){
				mui.init();
				auto_ajax();
				function timestampToTime(timestamp,type) {
			        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
			        Y = date.getFullYear() + '-';
			        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			        D = date.getDate() + ' ';
			        h = date.getHours() + ':';
			        m = date.getMinutes() < 10 ? '0'+ date.getMinutes() : date.getMinutes();
			        s = date.getSeconds();
			        if(type == 'toDay'){
			        	return Y+M+D;
			        }else if(type == 'toMinute' ){
			        	return h+m;
			        }else if(type == ''){
			        	return Y+M+D+h+m;
			        }
			    }
			   
				var html_ = '', r_html = '', s_html = '', manage = '',status = '',type = '',end = '';
				function auto_ajax(){
					$('#trans-box').html('');
					html_ = '';
					mui.ajax(AJAX_PATH+'/user/order/list?token='+token,{
						dataType:'json',
						type:'get',
						success:function(res){
							if(res.code == 200){
								var all = res.data.All_order_data;
								$.each(all,function(key,value){
									//时间戳处理：把时间戳转换为时间格式，然后再进行比对
									var startTime = timestampToTime(value.start_time,''),endTime = timestampToTime(value.end_time,'');
									if(startTime.substr(0,10) == endTime.substr(0,10)){
										end = endTime.substr(11,8)
										console.log(end);
									}else if(startTime.substr(0,10) != endTime.substr(0,10)){
										end = endTime;
									}
									//状态判断
									if(value.order_status==3||value.order_status==2){
										status = '进行中';
									}else if(value.order_status==1){
										status = '待支付';
									}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
										status = '已完成';
									}
									//按钮条件显示
									if(value.order_status==1){
										//支付，取消
										manage='<p class="cancel unpay"><button>去支付</button></p>'+
												'<p class="cancel"><button>取消订单</button></p>';	
										
									}else if(value.order_status==2){
										//导航，取消
										manage='<p class="cancel unpay"><button>去支付</button></p>'+
												'<p class="cancel"><button>取消订单</button></p>'
									}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
										//取消
										manage='<p class="cancel"><button>取消订单</button></p>';
									}else if(value.order_status==3){
										manage='<p class="cancel" style="background-color:gray;"><button>取消订单</button></p>';
									}
									//车位类型判断
									if(value.flag == 'C'){
										type = '不固定';
									}else if(value.flag == 'D'){
										type = value.building+'栋'+value.floor+'层'+value.area+'区'+value.park_space_num+'号车位';
									}
									//拼接dom
									html_+='<div class="order-nav">'+
												'<div class="order-text">'+
													'<a href="#" class="item-box">'+
														'<span id="item-icon"><img src="../img/tcicon.png"></span>'+
														'<span class="item-title">'+value.park_name+'</span>'+
														'<span class="mui-pull-right pay">'+status+'</span>'+
												   '</a>'+
												'</div>'+
												'<div class="order-time">'+
													'<p class="time place-time">'+
														'<span>车位:</span>'+
														'<span>'+type+'</span>'+
													'</p>'+
													'<p class="amount">￥12</p>'+
													'<p class="time out-time">'+
														'<span>预约时间段:</span>'+
														'<span>'+startTime+'&nbsp;至&nbsp;'+end+'</span>'+
													'</p>'+
												'</div>'+
												'<div class="order-state">'+manage+
												'</div>'+
											'</div>';
											
								})
								$('.trans-box').html(html_);
							}else{
								mui.alert(res.msg,'系统提示','确定',null);
							}
						}
					})
				}
				
				
				//未完成
				$('.choose li').click(function(){
					var status = $(this).children().attr('data-done');
					console.log(status);
					$('#trans-box').html('');
					$(this).children('span').addClass('active');
					$(this).siblings().children('span').removeClass('active');
					if(status=='running'){
							r_html = '';
							mui.ajax(AJAX_PATH+'/user/order/list?token='+token,{
								data:{
									"order_type":'running'
								},
								dataType:'json',
								type:'get',
								success:function(res){
									if(res.code==200){
										var _data = res.data.running;
										console.log(_data);
										$.each(_data,function(key,value){
											//时间戳处理：把时间戳转换为时间格式，然后再进行比对
											var startTime = timestampToTime(value.start_time,''),endTime = timestampToTime(value.end_time,'');
											if(startTime.substr(0,10) == endTime.substr(0,10)){
												end = endTime.substr(11,8)
												console.log(end);
											}else if(startTime.substr(0,10) != endTime.substr(0,10)){
												end = endTime;
											}
											//状态判断
											if(value.order_status==3||value.order_status==2){
												status = '进行中';
											}else if(value.order_status==1){
												status = '待支付';
											}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
												status = '已完成';
											}
											//按钮条件显示
											if(value.order_status==1){
												//支付，取消
												manage='<p class="cancel unpay"><button>去支付</button></p>'+
														'<p class="cancel"><button>取消订单</button></p>';	
												
											}else if(value.order_status==2){
												//导航，取消
												manage='<p class="cancel unpay"><button>去支付</button></p>'+
														'<p class="cancel"><button>取消订单</button></p>'
											}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
												//取消
												manage='<p class="cancel"><button>取消订单</button></p>';
											}else if(value.order_status==3){
												manage='<p class="cancel" style="background-color:gray;"><button>取消订单</button></p>';
											}
											//车位类型判断
											if(value.flag == 'C'){
												type = '不固定';
											}else if(value.flag == 'D'){
												type = value.building+'栋'+value.floor+'层'+value.area+'区'+value.park_space_num+'号车位';
											}
											//拼接dom
											r_html+='<div class="order-nav">'+
														'<div class="order-text">'+
															'<a href="#" class="item-box">'+
																'<span id="item-icon"><img src="../img/tcicon.png"></span>'+
																'<span class="item-title">'+value.park_name+'</span>'+
																'<span class="mui-pull-right pay">'+status+'</span>'+
														   '</a>'+
														'</div>'+
														'<div class="order-time">'+
															'<p class="time place-time">'+
																'<span>车位:</span>'+
																'<span>'+type+'</span>'+
															'</p>'+
															'<p class="amount">￥12</p>'+
															'<p class="time out-time">'+
																'<span>预约时间段:</span>'+
																'<span>'+startTime+'&nbsp;至&nbsp;'+end+'</span>'+
															'</p>'+
														'</div>'+
														'<div class="order-state">'+manage+
														'</div>'+
													'</div>';
										});
										$('#trans-box').empty();
										$('#trans-box').html(r_html);
									}else{
										mui.alert(res.msg,'系统提示','确定',null);
									}
								}
						})
					}else if(status=='success'){
						s_html = '';
						mui.ajax(AJAX_PATH+'/user/order/list?token='+token,{
								data:{
									"order_type":'success'
								},
								dataType:'json',
								type:'get',
								success:function(res){
									if(res.code==200){
										var _data = res.data.success;
										console.log(_data);
										$.each(_data,function(key,value){
											//时间戳处理：把时间戳转换为时间格式，然后再进行比对
											var startTime = timestampToTime(value.start_time,''),endTime = timestampToTime(value.end_time,'');
											if(startTime.substr(0,10) == endTime.substr(0,10)){
												end = endTime.substr(11,8)
												console.log(end);
											}else if(startTime.substr(0,10) != endTime.substr(0,10)){
												end = endTime;
											}
											//状态判断
											if(value.order_status==3||value.order_status==2){
												status = '进行中';
											}else if(value.order_status==1){
												status = '待支付';
											}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
												status = '已完成';
											}
											//按钮条件显示
											if(value.order_status==1){
												//支付，取消
												manage='<p class="cancel unpay"><button>去支付</button></p>'+
														'<p class="cancel"><button>取消订单</button></p>';	
												
											}else if(value.order_status==2){
												//导航，取消
												manage='<p class="cancel unpay"><button>去支付</button></p>'+
														'<p class="cancel"><button>取消订单</button></p>'
											}else if(value.order_status==4||value.order_status==5||value.order_status==6||value.order_status==7){
												//取消
												manage='<p class="cancel"><button>取消订单</button></p>';
											}else if(value.order_status==3){
												manage='<p class="cancel" style="background-color:gray;"><button>取消订单</button></p>';
											}
											//车位类型判断
											if(value.flag == 'C'){
												type = '不固定';
											}else if(value.flag == 'D'){
												type = value.building+'栋'+value.floor+'层'+value.area+'区'+value.park_space_num+'号车位';
											}
											//拼接dom
											s_html+='<div class="order-nav">'+
														'<div class="order-text">'+
															'<a href="#" class="item-box">'+
																'<span id="item-icon"><img src="../img/tcicon.png"></span>'+
																'<span class="item-title">'+value.park_name+'</span>'+
																'<span class="mui-pull-right pay">'+status+'</span>'+
														   '</a>'+
														'</div>'+
														'<div class="order-time">'+
															'<p class="time place-time">'+
																'<span>车位:</span>'+
																'<span>'+type+'</span>'+
															'</p>'+
															'<p class="amount">￥12</p>'+
															'<p class="time out-time">'+
																'<span>预约时间段:</span>'+
																'<span>'+startTime+'&nbsp;至&nbsp;'+end+'</span>'+
															'</p>'+
														'</div>'+
														'<div class="order-state">'+manage+
														'</div>'+
													'</div>';
										});
										$('#trans-box').empty();
										$('#trans-box').html(s_html);
									}else{
										mui.alert(res.msg,'系统提示','确定',null);
									}
								}
						})
					}else if(status == ''){
						auto_ajax();
					}
					
				})
			})(jQuery)
		</script>
	</body>
</html>
