<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>预定车位</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/order.css" />
		<link rel="stylesheet" href="../css/mui.picker.css" />
		<link rel="stylesheet" href="../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../css/mui.picker.min.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<a class="mui-pull-right optional">自选车位</a>
			<h1 class="mui-title">预定车位</h1>
		</header>
		<div class="mui-content">
			<div class="picture"></div>
		    <!--<img src="../img/yuantiao.jpg" alt="" />-->
		    <!--车场详情-->
		    <div class="siteInfo"></div>
		    <!--选择器-->
		    <div class="select-box">
		    	<!--车牌号选择器-->
		    	<div class="select carNo">
		    		<span class="label">车牌号:</span>
		    		<div>
		    			<span class="details" id="showCarno" data-id=""></span>
		    			<span class="mui-icon mui-icon-arrowright"></span>
		    		</div>
		    	</div>
		    	<!--起始时间选择器-->
		    	<div class="select">
		    		<span class="label">入场时间:</span>
		    		<div>
		    			<span class="time" id="showStartime">请选择开始时间</span>
		    			<span class="mui-icon mui-icon-arrowright"></span>
		    		</div>
		    	</div>
		    	<div class="line"></div>
		    	<!--结束时间选择器-->
		    	<div class="select">
		    		<span class="label">出场时间:</span>
		    		<div>
		    			<span class="time" id="showEndtime">请选择结束时间</span>
		    			<span class="mui-icon mui-icon-arrowright"></span>
		    		</div>
		    	</div>
		    </div>
		    <!--温馨提示-->
		    <div class="prompt">
		    	<p class="tit">温馨提示：</p>
		    	<p>欢迎使用，请您在选择车位时确认好选择时间，车牌号等信息，以确保预定信息准确提交<p>
		    </div>
		    <div class="fee">
		    	<span class="tcf">停车费:</span><span class="num" id="num">0.00</span><span class="unit">元</span>
		    	<button class='reserve' id='reserve'>立即预定</button>
		    </div>
		    
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init();
			//获取创建当前窗口的webview对象
			var ws = plus.webview.currentWebview();
			var token = plus.storage.getItem('token');
//			ws.parking_lot_num = 11010200003;
			var Park_lot_num = ws.parking_lot_num;
			var park_space_id = ws.park_space_id;
			var park_lot_name = '';
			//获取从固定车位列表页带来的五条信息
			var l_park_lot_num = ws.parking_lot_num, l_park_space_id = ws.park_space_id, l_p_b_num = ws.p_b_num,l_p_b_floor = ws.p_b_f,l_p_b_area = ws.p_b_area;
			window.addEventListener('readData',function(){
				token = plus.storage.getItem('token');
				setTimeout(function(){
					load(mui,document,jQuery);
				},800);
			});
			if(!token || token==''){
				login();
			}else{
				setTimeout(function(){
					load(mui,document,jQuery);
				},800);
			};
			function load($,doc,$$){
				$.init();
				//获取当前时间
				function p(s) {
				    return s < 10 ? '0' + s: s;
				}
				var myDate = new Date();
				//获取当前年
				var year=myDate.getFullYear();
				//获取当前月
				var month=myDate.getMonth()+1;
				//获取当前日
				var date=myDate.getDate(); 
				var h=myDate.getHours();       //获取当前小时数(0-23)
				var m=myDate.getMinutes();     //获取当前分钟数(0-59)
				var m2=myDate.getMinutes()+15; 
				var s=myDate.getSeconds();  
				var now=year+'-'+p(month)+"-"+p(date)+" "+p(h)+':'+p(m)+":"+p(s);
				var parkPrice = 0;
				//获取时间差
				function GetDateDiff(startTime, endTime, diffType) {
					  startTime = startTime.replace(/\-/g, "/");
					  endTime = endTime.replace(/\-/g, "/");
					  //将计算间隔类型字符串转换为小写
					  diffType = diffType.toLowerCase();
					  var sTime = new Date(startTime); //开始时间
					  var eTime = new Date(endTime); //结束时间
					  //作为除数的数字
					  var divNum = 1;
					  switch (diffType) {
					    case "second":
					      divNum = 1000;
					      break;
					    case "minute":
					      divNum = 1000 * 60;
					      break;
					    case "hour":
					      divNum = 1000 * 3600;
					    case "day":
					      divNum = 1000 * 3600 * 24;
					      break;
					    default:
					      break;
					  }
					  return parseInt((eTime.getTime() - sTime.getTime()) / parseInt(divNum));
					}
				
				//车位信息请求ajax函数
				function ajaxGet(head,data,type){
					mui.ajax(head,{
						data:data,
						dataType:'json',
						type:'get',
						success:function(res,status,xhr){
							console.log(JSON.stringify(res));
							if( res.code== '200'){
								console.log(res);
								if(res.data.userCarInfo == ''){
									mui.alert('请添加车辆','系统提示','确定',function(){
										mui.openWindow({
											id:'add_vehicle',
											url:'add_vehicle.html',
											styles:{
												popGesture: "close",
												statusbar:{
													background:"#fff" 
												}
											},
										})
									})
								}else{
									//设置车场信息
									var _data = res.data.parkingInfo;
									var _html ='<div class="name">'+
										    		'<span class="big">'+_data.parking_lot_name+'</span>'+
										    		'<span class="price">'+_data.price+'元</span>/小时</div>'+
										    	'<p class="address"><img src="../img/Page1.png"/>'+_data.parking_lot_address+'</p>'+
										    	'<p class="num">车位： <span class="occupied">'+_data.free_number +'</span>/'+_data.number+'</p>';
									$$('.siteInfo').append(_html);
									parkPrice = _data.price;
									park_lot_name = _data.parking_lot_name;
									//这里设置默认车牌号
									var data = res.data.userCarInfo;
									$$.each(data,function(name,value){
										if(value.default == 1){
											//设置默认车辆
											$$('.details').html(this.car_number);
											$$('.details').attr('data-id',this.car_id);
										}else{
											$$('.details').html(data[0].car_number);
											$$('.details').attr('data-id',data[0].car_id);
										}
									})
									//这里填充picker的数据
									var picker_data = [];
									for(let i=0;i<data.length;i++){
										picker_data.push({value:data[i].car_id,text:data[i].car_number});
									}
									//选择车牌号
									var carnoPicker = new $.PopPicker();
									var showCarno = doc.getElementById('showCarno');
									showCarno.addEventListener('tap',function(event){
										carnoPicker.show(function(items){
											showCarno.innerHTML = items[0].text;
											showCarno.setAttribute('data-id',items[0].value);
										})
									},false);
									carnoPicker.setData(picker_data);
								}
							}else if(res.code!=502 && res.code!=503){
								if(res.code == 507){
									console.log(JSON.stringify(res),233232)
									if(type=="noChoose"){
										mui.alert('无差别车位没有可用车位，请选择自选车位','系统提示','确定',function(){
											//确定之后做处理
											$$('.optional').trigger('click');
										})
									}							
								}else{
									mui.alert(res.msg,'系统提示','确定',null);
								}
							}
						}
					})
				}
				
				function AJAXPOST(postData){
					//提交预定AJAX函数
					if(!ajaxSubmit_off){
						ajaxSubmit_off = true;
						mui.ajax(AJAX_PATH+'/user/reserve?token='+token,{
							type:'post',
							dataType:'json',
							data:postData,
							beforeSend:function(){
								var mask = mui.createMask();//callback为用户点击蒙版时自动执行的回调；
	//								mask.show();//显示遮罩
								//发送等待过程中加过渡动画
	//								$$("body").append('<div id="pload" style="text-align:center;line-height:140px;color:#9b9b9b; position:fixed;top:40%;z-index:1200;background:url(../img/icon_loading.png) top center no-repeat;width:100%;height:140px;margin:auto auto;">请稍候...</div>');
							},
							success:function(res){
								ajaxSubmit_off = false;
								if(res.code == 200){
									//成功之后做的处理
									mui.openWindow({
										url:'successfulBooking.html',
										id:'suc_book',
										styles:{
											popGesture: "close",
											statusbar:{
												background:"#fff" 
											}
										},
									})
								}else if(res.code!=502 && res.code!=503){
									mui.alert(res.msg,'系统提示','确定',null);
								}
							}
						})
					}
				}
				

				//页面加载函数
				$.ready(function(){
					//车位信息获取
					//这里需要加判断，固定车位和无差别车位的ajax请求有区别,封装请求函数
					
					if(l_park_space_id&&l_park_space_id!==''){
						//固定车位接口请求
						ajaxGet(AJAX_PATH+'/parking/time_list?token='+token,
							{	
								"park_lot_num":l_park_lot_num,
								"p_s_type":'d',
								"park_space_id":l_park_space_id,
							},
							null
						);
					}else{
						//无差别接口请求
						ajaxGet(AJAX_PATH+'/parking/time_list?token='+token,{"park_lot_num":Park_lot_num},"noChoose");
					}
					//时间拾取器
					var btns = $('.time');
					btns.each(function(i,btn){
						btn.addEventListener('tap',function(){
							var _self = this;
							if(_self.picker){
								_self.picker.show(function(rs){
									_self.innerHTML=rs.text;
									_self.picker.dispose();
									_self.picker = null;
								});
							}else{
								var options = {
									"value":'',
									"beginYear":year,
									"endYear":year
								}
								var id = this.getAttribute('id');
								/*
								 *首次显示实例化组件
								 * 这里把optios放到了按钮的dom上，
								 * 也可以直接通过代码声明options用于实例化DtPicker
								*/
								_self.picker = new $.DtPicker(options);
								_self.picker.show(function(rs){
									_self.innerHTML=rs.text;
									_self.picker.dispose();
									_self.picker = null;
									
									//计算停车时长
									var time1 = $$('#showStartime').html(),time2 = $$('#showEndtime').html();
									if(time1!='' && time2!=''){
										var timeDifference = GetDateDiff(time1, time2, "minute");
										var bookPrice = parkPrice;
									    var Difference = Math.ceil(timeDifference / 60);
									    var bookFee = bookPrice * Difference;
									    $$('#num').html(bookFee);
									};
								})
							}
						},false);
					})
				});
				$$('.optional').click(function(){
					var options = {
						styles:{
							popGesture: "close",
							statusbar:{
								background:"#fff" 
							}
						},
						extras:{
							parking_lot_num:Park_lot_num,
							park_name:park_lot_name
						}
					};
					setTimeout(function(){
						mui.openWindow("parkingArea.html","parkingArea.html",options);
					},500);
				});
				//预定部分
				var ajaxSubmit_off = false;
				mui('.mui-content').on('tap','.reserve',function(){
					//计算时间差，并验证
					var time1 = $$('#showStartime').html(),time2 = $$('#showEndtime').html(),time3 = now;
					var TimeDifference = GetDateDiff(time1, time2, "minute"),diff2 = GetDateDiff(now, time1, "minute");
					if(TimeDifference < 15){
						mui.alert('结束时间必须大于起始时间15分钟以上','系统提示','确定',null);
						return false;
					}
					if(diff2 <= 0){
						mui.alert('起始时间必须大于当前时间1分钟以上','系统提示','确定',null);
						return false;
					}
					//2.组织数据
					var carId = $$('.details').attr('data-id');
					var jsonData = {
							"type":"0",
							"start":time1, //开始时间
							"end":time2, //结束时间
							"parking_lot_num":Park_lot_num,
							"car_id":carId, //上面接口获取到的car_id
							"park_space_id":""
					};
					//3.发送预定请求
					//判断预定车位类型是无差别还是固定
					if(l_park_space_id&&l_park_space_id!==''){
						//自选固定车位
						var jsonData = {
							"type":"1",
							"start":time1, //开始时间
							"end":time2, //结束时间
							"parking_lot_num":l_park_lot_num,
//							"parking_lot_num":"02051070001",
							"car_id":carId, //上面接口获取到的car_id
//							"park_space_id":"219"
							"park_space_id":l_park_space_id
						};
						var pData = JSON.stringify(jsonData);
						AJAXPOST(pData);									
					}else{
						//无差别车位
						var jsonData = {
							"type":"0",
							"start":time1, //开始时间
							"end":time2, //结束时间
							"parking_lot_num":l_park_lot_num,
							"car_id":carId, //上面接口获取到的car_id
						}
						var pData = JSON.stringify(jsonData);
						AJAXPOST(pData);
					}
				});
			};
			
		</script>
	</body>

</html>