<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>订单详情</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/OrderDetails.css"/>
    <style>
    	 -webkit-tap-highlight-color:transparent;
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar" style="border-bottom:2px solid #f5f5f5">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
	    <h1 class="mui-title">订单详情</h1>
	</header>
	<div class="mui-content">
		<div class="mui-main">
			<!--<div class="mui-details">
				<div class="name">
		    		<span class='big'>万科停车场</span><a href="" class="price">详情&nbsp;>
		    	</div>
		    	<p class="address"><img src="../img/Page1.png"/> 广东省广州市黄埔区石化路225号</p>
		    	<p class="num">
		    		车位： <span class='occupied'>不固定</span>
		    	</p>
			</div>
			<div class="car-num">
				<p class="plate-num">车牌号：<span style="color:#666666">粤G88888</span></p>
			</div>
			<div class="park-time">
				<p class="time lower-time">
					<span class="state-time">下单时间:</span>
					<span class="date-time">2018.5.20&nbsp;16:45</span>
				</p>
				<p class="time in-time">
					<span class="state-time">入场时间:</span>
					<span class="date-time"s>2018.5.20&nbsp;16:45</span>
				</p>
				<p class="time out-time">
					<span class="state-time">离场时间:</span>
					<span class="date-time">2018.5.20&nbsp;16:45</span>
				</p>
			</div>-->
	    </div>
	    <div class="Parking-Rate">
				<!--<p class="park-rate">停车费:<span>12</span></p>-->
	    </div>
	    <div class="state-btn">
	    	<!--<p class="cancel">取消订单</p>
	    	<p class="Nav">导航</p>-->
	    </div>
	</div>
	<div class="Remarks">
		<!--<p class="mark-o">备注：</p>
		<p>这里是温备注内容这里是温备注内容这里是温备注内容这里是温备注内容这里是温备注内容</p>-->
	</div>
	  <script src="../js/jquery-1.11.2.min.js"></script>
	  <script src="../js/mui.min.js"></script>
	  <script src="../js/app.js"></script>
		<script type="text/javascript">
			var token,ws,park_id,order_num;
			mui.plusReady(function(){
				token = plus.storage.getItem('token');
				ws = plus.webview.currentWebview();
				park_id = ws.park_id;
				order_num = ws.order_num;
				readData(jQuery);
			});
			function readData($){
					$('.state-btn p').click(function(){
						$(this).addClass('active').siblings().removeClass('active');
					});
					var html_ = '';
					var fixed = '';
					var fee = '';
					var manage = '';
					getOrderDetail();
					function getOrderDetail(){
						mui.ajax(AJAX_PATH+'/user/order/detail?token='+token,{
							type:'get',
							dataType:'json',
							data:{
								"park_id":park_id,
								"order_num":order_num
							},
							success:function(res){
								if(res.code == 200){
									//逻辑操作
									var park_info = res.data.park_info;
									var order_info = res.data.order_info;
									if(order_info.flag == 'D'){
										fixed = '固定'
									}else if(order_info.flag == 'C'){
										fixed = '不固定'
									}
									html_+= '<div class="mui-details">'+
												'<div class="name">'+
										    		'<span class="big">'+park_info.parking_lot_name+'</span>'+
										    		'<a data-id="'+park_info.id+'" data-plnum="'+park_info.parking_lot_number+'" class="price">车场详情&nbsp;></a>'+
										    	'</div>'+
										    	'<p class="address"><img src="../img/Page1.png"/>'+park_info.parking_lot_address+'</p>'+
										    	'<p class="num">车位： <span class="occupied">'+fixed+'</span>'+
										    	'</p>'+
											'</div>'+
											'<div class="car-num">'+
												'<p class="plate-num">车牌号：<span style="color:#666666">'+order_info.car_num+'</span></p>'+
											'</div>'+
											'<div class="park-time">'+
												'<p class="time lower-time">'+
													'<span class="state-time">下单时间:</span>'+
													'<span class="date-time">'+order_info.submit_time+'</span>'+
												'</p>'+
												'<p class="time in-time">'+
													'<span class="state-time">入场时间:</span>'+
													'<span class="date-time"s>2018.5.20&nbsp;16:45</span>'+
												'</p>'+
												'<p class="time out-time">'+
													'<span class="state-time">离场时间:</span>'+
													'<span class="date-time">2018.5.20&nbsp;16:45</span>'+
												'</p>'+
											'</div>';
										fee+= '<p class="park-rate">停车费:<span>'+order_info.pay_amount+'</span></p>';
										//订单状态判断
										if(order_info.order_status==5||order_info.order_status==6||order_info.order_status==7){
											manage+='<p class="cancel">删除订单</p>';
										}else if(order_info.order_status==1){
											manage+='<p class="cancel">取消订单</p>'+
													'<p class="Nav">支付</p>';
										}else if(order_info.order_status==2){
											manage+='<p class="cancel">取消订单</p>'+
			    									'<p class="Nav">导航</p>';
										}else if(order_info.order_status==3){
											manage+='';
										}
										//添加dom
									$('.mui-main').append(html_);
									$('.Parking-Rate').append(fee);
									$('.state-btn').append(manage);
							}else if(res.code==509){
								getOrderDetail();
							}else if(res.code!=502 && res.code!=503){
								mui.alert(res.msg,'系统提示','确定',null);
							};
						}
					})
				};
			};
			
			//车场详情
			$('.mui-main').on('click','.price',function(){
				var park_lot_num = $(this).attr('data-plnum');
				mui.openWindow({
					url:'siteDetails.html',
					id:'siteDetails.html',
					styles:{
						popGesture: "close",
						statusbar:{
							background:"#fff" 
						}
					},
					extras:{
						park_lot_num:park_lot_num
					}
				})
			})
		</script>
	</body>

</html>