<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>车位列表</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/parking.css"/>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-pull-left" id="hideView"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
	    <h1 class="mui-title">车位列表</h1>
	</header>
	<div class="mui-content g-content">
		<div id="topbar">
			<div id="search-box">
				<div class="mui-input-row mui-search mui-active">
				    <input type="search" class="mui-input-clear" placeholder="">
				</div>
			</div>
			<div class="filter">
				<span @click="sortToggle">{{sort}}<i></i></span>
				<span>停车时长<i></i></span>
			</div>
		</div>
		<div id="tab-box" :class="isSort? 'show-box':''">
			<div class="tab-sort-group" :class="isSort? 'show':''">
				<div class="sort1">
					<ul class="mui-table-view mui-table-view-radio" id="sort">
						<li class="mui-table-view-cell mui-selected" data-sort="distance">
							<a class="mui-navigate-right">距离优先</a>
						</li>
						<li class="mui-table-view-cell" data-sort="price">
							<a class="mui-navigate-right">价格最低</a>
						</li>
						<li class="mui-table-view-cell" data-sort="number">
							<a class="mui-navigate-right">车位数量优先</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="parking-list" v-show="items.length!=0">
			<div class="parkingList-mask" :style="isSort? 'display:block':'display:none'"></div>
			<div class="parking" :id="index" v-for="(item,index) in items">
				<div class="parking-l">
					<div class="top">
						<span class="name">{{item.parking_lot_name}}</span>
						<span class="price"><span>{{item.price}}</span>/小时</span>
					</div>
					<p class="address">{{item.parking_lot_address}}</p>
					<div class="num">车位:<span>{{item.free_number}}</span>/{{item.number}}</div>
				</div>
				<div class="parking-r">
					<div class="parking-img"><span class="goRoute"></span></div>
					<p>{{item.distance}}km</p>
				</div>
			</div>
		</div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/parking.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>