<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <style>
    	* {
    		margin:0;
    		padding:0;
    	}
    	.protocol-info {
    		height: 100%;
    		background: #fff;
    		overflow-y: auto;
    		padding:0 10px;
    		color:#323232;
    	}
    	.protocol-info h2 {
    		font-size:24px;
    		padding:20px 0;
    		text-align: center;
    		line-height:initial;
    	}
    	.protocol-info h3 {
    		font-size:20px;
    		padding: 10px 0;
    	}
    	.protocol-info h4 {
    		font-size:18px;
    		padding: 10px 0;
    	}
    	.protocol-info p {
    		line-height:24px;
    		color:#959595;
    		font-size: 16px;
    	}
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
	    <h1 class="mui-title">用户协议</h1>
	</header>
	<div class="mui-content g-content">
		<div class="protocol-info">
			<h2>易惠停用户使用协议</h2>
			<h3>欢迎您使用易惠停软件及服务！</h3>
			<h4>一、服务条款的确认和接纳</h4>
			<p>《易惠停用户注册协议》（以下简本协议）是您与易惠停（以下简称本公司）之间就本公司提供的网站服务及相关停车软件服务（以下统称网络服务）等相关事宜签订的协议。请您务必认真阅读、充分理解本协议各条款内容，特别是免除或者限制责任的条款，您一旦注册、登录、使用或以任何方式使用本协议所涉及的相关服务，即视为您已阅读并同意本协议各项条款，接受本协议的约束。如果您不同意本协议中的条款，请不要注册、登录或使用本协议的相关服务。</p>
			<h4>二、用户的账号、密码和安全性</h4>
			<p>2.1 您一经注册成功即成为用户。用户对注册账号信息及账号密码负有妥善保管的义务。用户同意在任何情况下不向他人透露帐户及密码信息。若因用户的原因未保管好账号和密码，而对您、本公司或第三方造成的损害，您将负全部责任。</p>
			<p>2.2 用户账号所有权归属本公司，用户完成申请注册手续后，仅获得账号的使用权，且该使用权仅属于初始申请注册人。初始申请注册人不得赠与、借用、租用、转让或售卖账号或者以其他方式许可非初始申请注册人使用。非初始申请注册人不得通过受赠、继承、承租、受让或者其他任何方式使用账号。</p>
			<p>2.3 用户需要对注册帐户以及密码下的行为承担法律责任。用户可随时改变账号密码，也可以注销旧的帐户重新注册新帐户。您承诺，一旦发现任何非法使用用户账号或安全漏洞的情况，应立即通知本公司，通知的送达方式见本协议第十二条。</p>
			<p>2.4 用户注册账号后如果长期不登录该账号，本公司有权回收该账号，以免造成资源浪费，由此带来的任何损失均由用户自行承担。</p>
			<h4>三、服务内容</h4>
			<p>3.1 本服务内容是指通过本公司网站（即http://www.ecosysnet.com）或本公司提供的相关停车软件您可以预约停车位、分享停车位，收益提现。</p>
			<p>3.2 本公司服务的所有权、运作权及解释权归本公司所有。所提供的服务必须按照其发布的章程、服务条款和操作规则严格执行。</p>
			<h4>四、服务变更、中断或终止</h4>
			<p>本公司有权视具体情况中止或终止提供本协议项下的网络服务，包括但不限于：</p>
			<p>4.1 用户提供的个人资料不真实的；</p>
			<p>4.2 用户违反法律法规规定或本协议规定的；</p>
			<p>4.3 如用户注册的账号长时间未实际使用，本公司有权删除该账号并停止为该用户提供相关的网络服务。</p>
			<p>如果您停止使用本服务或服务被终止或取消，本公司可以从服务器上永久地删除您的数据。服务停止、终止或取消后，本公司没有义务向你返还任何数据。</p>
			<h4>五、使用规则</h4>
			<p>5.1 用户在申请使用本公司网络服务时，必须向本公司提供准确的个人资料，如个人资料有任何变动，应及时更新。</p>
			<p>5.2 用户需妥善保管其个人账号和密码，无论基于何种相关目的，都不允许将账号、密码转让、出租、出借、赠与他人或以其他方式许可他人使用。如用户发现其账号遭他人非法使用，应当立即通知本公司。因黑客行为、用户的保管疏忽导致账号、密码遭他人非法使用或用户将其账号、密码转让、出租、出借他人或以其他方式许可他人使用而导致任何的用户损失，本公司不承担任何责任。</p>
			<p>5.3 用户在使用本公司网络服务过程中，必须遵循以下原则：</p>
			<ul>
				<li>1) 遵守有关法律和法规；</li>
				<li>2) 遵守所有与网络服务有关的网络协议、规定和程序；</li>
				<li>3) 不得为任何非法目的而使用网络服务系统；</li>
				<li>4) 不得利用本公司网络服务系统进行任何不利于本公司的行为。</li>
			</ul>
			<p>5.4 用户在注册、使用的网络服务账户（包括但不限于用户在本公司网站以及本公司相关停车软件服务中注册、使用的账户）中充值的资金（含账户中的沉淀资金）不计任何利息。</p>
			<h4>六、知识产权</h4>
			<p>6.1 本公司提供的网络服务中包含的所有信息内容，包括但不限于文字、图片、图形、音频、视频资料、图表、界面设计、版面框架、有关数据或电子文档等均受均受中华人民共和国法律法规和相应的国际条约保护。未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。</p>
			<p>6.2 本公司为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程、反向编译或反汇编。</p>
			<h4>七、个人信息保护</h4>
			<p>7.1 保护用户个人信息是本公司的一项基本政策，本公司承诺在提供本服务过程中收集、使用用户个人信息时遵守合法、正当、必要的原则。不主动对外公开或向第三方提供单独用户的注册资料及用户在使用网络服务时存储在本公司的非公开内容，但下列情况除外：</p>
			<ul>
				<li>1) 事先获得用户的明确授权；</li>
				<li>2) 根据有关的法律法规要求；</li>
				<li>3) 按照相关政府主管部门、司法机关的要求；</li>
				<li>4) 为维护社会公众的利益；</li>
				<li>5) 为维护本公司的合法权益。</li>
			</ul>
			<p>7.2 当本公司与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方允诺严格承担与本公司同等的保护用户隐私的责任，则视为用户授权本公司将包含其个人注册资料在内的相关信息提供给该第三方，但本公司对该第三方的允诺及行为不承担保证责任。</p>
			<h4>八、免责声明</h4>
			<p>8.1 用户明确同意：因使用本公司网络服务所存在的风险，包括但不限于用户原因、网络服务质量、社会环境等；也可能会受各种安全问题的侵扰，包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁你的终端设备信息和数据安全，继而影响本服务的正常使用等将完全由用户自行承担，本公司对对此不承担任何责任。</p>
			<p>8.2 本公司不保证为向用户提供便利而设置的外部链接的准确性和完整性。同时，对于该等外部链接指向的不由本公司实际控制的任何网页上的内容，本公司不承担任何责任。</p>
			<p>8.3 对于因不可抗力、政府行为、黑客攻击、计算机病毒感染或非因本公司的原因造成的网络服务中断或其它缺陷，本公司不承担任何责任。</p>
			<h4>九、权利救济</h4>
			<p>9.1 若用户与本公司之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交本公司所在地人民法院管辖。</p>
			<h4>十、用户义务</h4>
			<p>用户同意保障和维护本公司及其他用户的合法利益，如因用户违反有关法律、法规或本协议项下的任何条款而给本公司或任何其他第三人造成损失，用户同意承担由此造成的一切损害赔偿责任。</p>
			<h4>十一、协议更新及用户注意义务</h4>
			<p>11.1 本公司有权在必要时修改本协议的条款。一旦本协议的内容发生变动，本公司将会在本公司网站上公布，修改后的协议自公布时起生效并替代原协议，该公布行为视为本公司已经通知到用户，用户知道并了解所修改的内容。</p>
			<p>11.2 如果您不同意本公司对本协议相关条款所做的修改，应当停止使用本公司提供的网络服务。如果用户继续使用本公司提供的网络服务，即视为您接受修改后的协议。</p>
			<h4>十二、通知送达</h4>
			<p>用户如有任何事宜需通知本公司，应当通过本公司网站或其他官方途径对外正式公布的通信地址、传真号码、电子邮件地址等联系方式进行联系及送达。</p>
		</div>
		<div class="protocol-text"></div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script type="text/javascript">
    	
    </script>
</body>
</html>