<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>挂单兑换</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/Register_change.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft"></span></a>
	    <h1 class="mui-title">挂单兑换</h1>
	</header>
	<div class="mui-content g-content">
		<div class="Nocard-wrap">
			<div class="change">
				<a>我的挂单&nbsp;>></a>
			</div>
			<div class="Nocard">
				<!--<div class="list outcard">-->
				<div class="list">
					<a class="short">
						<div class="item-icon"><span class="logo"></span></div>
						<p class="out">请选择换出账户</p>
						<p class="yu">剩余:0</p>
						<p class="addr address">黄浦区科学城大道235号</p>
						<p class="addr time">1小时</p>
					</a>
					<div class="input">
						<input type="text" placeholder="请输入换出数量" class="num" onfocus="this.placeholder=''" onblur="this.placeholder='请输入换出数量'">
					</div>
					<span class="c_assets" data-type="person">选择资产</span>
				</div>
			</div>
			<!--<div class="exchange">
				<div class="swap ">
				  <img src="../img/swap.png">
			   </div>
			</div>-->
			<div class="Nocard card">
				<!--<div class="list incard">-->
				<div class="list">
					<a class="short">
						<div class="item-icon"><span class="logo"></span></div>
						<p class="out"><span>请选择换入账户</span></p>
						<p class="yu">剩余:0</p>
						<p class="addr address">黄浦区科学城大道235号</p>
						<p class="addr time">1小时</p>
					</a>
					<div class="input">
						<input type="text" placeholder="请输入换出数量" class="num" onfocus="this.placeholder=''" onblur="this.placeholder=''">
					</div>
					<span class="c_assets" data-type="">选择资产</span>
				</div>
			</div>
			<div class="tips">
				<p>温馨提示：</p>
				<span>1.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
				<span>2.XXXXXXXXXXXXXXXXXXXXXXXXXX</span>
				<span>3.XXXXXXXXXXXXXXXXXXXXXXXXXX</span>
			</div>
		</div>
		<div class="register">
			<span>确认挂单</span>
		</div>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/Register_change.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>