<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我的挂单</title>
		<link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/Register.css"/>
	    <script src="../js/vue.min.js"></script>
	    <style>
	    	.mui-control-content{
	    		top:-25px;
	    	}
	    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
		    <a id="mui-icon-left"class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title title">我的挂单</h1>
		</header>
		<div class="mui-content" id="entrust-box">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item mui-active" id="all" href="#item1">
					全部
				</a>
				<a class="mui-control-item" id="running" href="#item2">
					进行中
				</a>
				<a class="mui-control-item" id="finished" href="#item3">
					已完成
				</a>
				<a class="mui-control-item" id="cancel" href="#item4">
					已撤销
				</a>
				<a class="mui-control-item" id="shutDown" href="#item5">
					已关闭
				</a>
			</div>
			<div class="mui-control-content mui-active" id="item1">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="reg-list">
							 <div class="list_l" v-for="(item,index) in items">
							 	<p>挂单时间  {{item.pending_time}}
							 		<span class="state" v-if="item.status==2">进行中</span>
							 		<span class="state" v-else-if="item.status==4">已完成</span>
							 		<span class="state" v-else-if="item.status==6">已撤销</span>
							 		<span class="state" v-else-if="item.status==5">已关闭</span>
							 	</p>
							 	<p class="equal"><img src="../img/Hourglass_O.png">{{item.in_amount}}{{item.in_name}}={{item.out_amount}}{{item.out_name}}</p>
							 	<p class="equal line"><img src="../img/finished.png">{{item.out_amount}}{{item.out_name}}</p>
							 	<p class="col">剩余{{item.left_amount}}{{item.in_name}}<span v-show="item.status==2" :data-id="item.id" class="retreat">撤销</span></p>
							 </div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="mui-control-content" id="item2">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="reg-list">
							 <div class="list_l"  v-for="(item,index) in items2">
							 	<p>挂单时间  {{item.pending_time}}<span class="state">进行中</span></p>
							 	<p class="equal"><img src="../img/Hourglass_O.png">{{item.in_amount}}{{item.in_name}}={{item.out_amount}}{{item.out_name}}</p>
							 	<p class="equal line"><img src="../img/finished.png">{{item.out_amount}}{{item.out_name}}</p>
							 	<p class="col">剩余{{item.left_amount}}{{item.in_name}}<span :data-id="item.id" v-show="item.status==2" class="retreat">撤销</span></p>
							 </div>
						</div>
					</div>
				</div>
			</div>
			<div class="mui-control-content" id="item3">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="reg-list">
							 <div class="list_l"  v-for="(item,index) in items3">
							 	<p>挂单时间   {{item.pending_time}}<span class="state">已完成</span></p>
							 	<p class="equal"><img src="../img/Hourglass_O.png">{{item.in_amount}}{{item.in_name}}={{item.out_amount}}{{item.out_name}}</p>
							 	<p class="equal line"><img src="../img/finished.png">{{item.out_amount}}{{item.out_name}}</p>
							 	<p class="col" v-show="item.left_amount!=0&&item.left_amount">剩余{{item.left_amount}}{{item.in_name}}</p>
							 </div>
						</div>
					</div>
				</div>
			</div>
			<div class="mui-control-content" id="item4">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="reg-list">
							 <div class="list_l"  v-for="(item,index) in items4">
							 	<p>挂单时间   {{item.pending_time}}<span class="state">已撤销</span></p>
							 	<p class="equal"><img src="../img/Hourglass_O.png">{{item.in_amount}}{{item.in_name}}={{item.out_amount}}{{item.out_name}}</p>
							 	<p class="equal line"><img src="../img/finished.png">{{item.out_amount}}{{item.out_name}}</p>
							 	<p class="col" v-show="item.left_amount!=0&&item.left_amount">剩余{{item.left_amount}}{{item.in_name}}</p>
							 </div>
						</div>
					</div>
				</div>
			</div>
			<div class="mui-control-content" id="item5">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="reg-list">
							 <div class="list_l"  v-for="(item,index) in items5">
							 	<p>挂单时间   {{item.pending_time}}<span class="state">已关闭</span></p>
							 	<p class="equal"><img src="../img/Hourglass_O.png">{{item.in_amount}}{{item.in_name}}={{item.out_amount}}{{item.out_name}}</p>
							 	<p class="equal line"><img src="../img/finished.png">{{item.out_amount}}{{item.out_name}}</p>
							 	<p class="col" v-show="item.left_amount!=0&&item.left_amount">剩余{{item.left_amount}}{{item.in_name}}</p>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/Register.js"></script>
		<script>
			(function($$) {
				$$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
				var height = $(document.body).height();
				var h2 = height - 151;
				$('.mui-control-content').css('height',h2);
			})(mui);
		</script>
	</body>
</html>
