<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>放租详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/Rent_details.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
		<h1 class="mui-title">放租详情</h1>
	</header>
	<div class="mui-content g-content" v-cloak></div>
	<script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/rentDetails.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../js/jquery-1.11.2.min.js"></script>-->
</body>
</html>