<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>放租详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/Rent_details.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header-bar">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<h1 class="mui-title">放租详情</h1>
		</header>
		<div class="mui-content">
			<div class="ba_color">
				<div class="rent-park">
					<h3>上地三街玫瑰园小区一单元A001号</h3>
					<p>放租编号:<span>890721</span></p>
					<p>放租时间:<span>2018.06.20 09:00-24:00</span></p>
					<p>发布时间:<span>2018.04.17 17:30</span></p>
					<p class="parking_fee">停车费:<span>5元/小时</span></p>
				</div>
			</div>
			<div class="orderlist">
				<h3>租用列表</h3>
				<div class="order-num">
					<p class="order_c">订单号：<span>5510086</span></p>
					<p>下单时间：<span>2018.05.20 18:30</span></p>
					<p>预约时段：<span>2018.05:20 18:30-20:30</span></p>
					<p>停车费：<span>15元</span></p>
				</div>
			</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/app.js"></script>
		
	</body>

</html>