<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/siteDetails.css" />
	</head>
	<style>
		
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<h1 class="mui-title">车场详情</h1>
		</header>
		<div style="margin-top: 44px;">
			<div class="picture"></div>
		    <div class="siteInfo">
		    	<div class="name">
		    		<span class='big'>万科停车场</span> <span class="price">5元</span>/小时
		    	</div>
		    	<p class="address"><img src="../img/Page1.png"/> 广东省广州市黄埔区石化路225号</p>
		    	<p class="num">
		    		车位： <span class='occupied'>200</span>/400
		    	</p>
		    	<a href="" class="guide">
		    		<img src="../img/dhicon.png" alt="" />
		    	</a>
		    </div>
		    <!--温馨提示-->
		    <div class="prompt">
		    	<p class="tit">温馨提示：</p>
		    	<p>欢迎使用，请您在选择车位时确认好选择时间，车牌号等信息，以确保预定信息准确提交<p>
		    </div>
		</div>

		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>