<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的钱包</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../css/wallet.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 0;color:#292929;"></span></a>
			<h1 class="mui-title">我的钱包</h1>
		</header>
		
		<div class="balance">
			<span class="cuteWords">余额:</span>
			<div class="money">
				<span class="num">200</span>元
			</div>
			<span class="mui-pull-right cuteWords details">明细  
				>
			</span> 
		</div>
		
		<div class="withdraw mui-clearfix">
			<img src="../img/withdrawl.png" alt="" />
			<span style="visibility: hidden;">￥</span>提现申请
			<span class="mui-icon mui-icon-arrowright mui-pull-right arrow"></span>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>